// SLURM executor profile for the HPC.
// Activate with `-profile slurm,singularity`.

process {
    executor = 'slurm'
    queue    = 'main'

    // Default per-process resources
    cpus   = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time   = { 4.h * task.attempt }

    withLabel: 'process_low' {
        cpus   = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }
    withLabel: 'process_medium' {
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
    withLabel: 'process_high' {
        cpus   = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 16.h * task.attempt }
    }
    withLabel: 'process_long' {
        time   = { 24.h * task.attempt }
    }
}

executor {
    queueSize       = 50
    submitRateLimit = '20 sec'
}
